[user]
	name = Adalberto Taylor
	email = adalbertotaylor84@gmail.com 
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPrPK1qt5JWGIMCJd102RkVYXFBRJl4wdi5GaOCRZiIS
[pull]
	ff = true
[core]
  editor = vim
  excludesfile = ~/.gitignore
  autocrlf = input
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[init]
  defaultBranch = main
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
